{% extends 'layout.html.twig' %}
  

{% block stylesheet %}
	<link rel="stylesheet" href="./assets/css/product.css">
    <link rel="stylesheet" href="./assets/css/style.css">
{% endblock %}


{% block body %}
<h1>Nos produits</h1> <br>
<hr> <br>
<section>
    
    {% for prod in product %}

<div class="one">
        <div class="black">
            <img class="bio" src={{ 'assets/img/' ~ prod.imgPath }} alt="">
        </div> <br>
        <p>{{ prod.libelle }}<br> {{ prod.conteneur.volume }} - Black collection <br> {{ prod.prix }}</p>
        <a href="{{path('productpanier.add', {id: prod.id})}}"><button>Ajouter au panier</button></a> <br>
        <a href="{{ path('user.moreb30') }}"><input class="know" type="submit" value="En savoir plus"></a>
        <div id="demo" class="modal">
            <div class="modal_content">
                <p>Produit ajouté avec succès</p>
               <a href="#" class="modal_close">&times;</a>
            </div>
        </div>
            </div>

    {% endfor %}
            
    {# <div class="one">
        <div class="black">
            <img class="bio" src="assets/img/Black50.jpg" alt="">
        </div> <br>
        <p>Huile d'argan bio Premium <br> 50ML - Black collection <br> 49,00€ </p>
        <a href=""><button>Ajouter au panier</button></a> <br>
        <a href="{{ path('user.moreb50') }}"><input class="know" type="submit" value="En savoir plus"></a>
        <div id="demo" class="modal">
            <div class="modal_content">
                <p>Produit ajouté avec succès</p>
               <a href="#" class="modal_close">&times;</a>
            </div>
        </div>
    </div>
    <div class="one">
        <div class="black">
            <img class="bio" src="assets/img/Black100.jpg" alt="">
        </div> <br>
        <p>Huile d'argan bio Premium <br> 100ML - Black collection <br> 89,00€ </p>
        <a href="#demo"><button>Ajouter au panier</button></a> <br>
        <a href="{{ path('user.moreb100') }}"><input class="know" type="submit" value="En savoir plus"></a>
        <div id="demo" class="modal">
            <div class="modal_content">
                <p>Produit ajouté avec succès</p>
               <a href="#" class="modal_close">&times;</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="one">
        <div class="white">
            <img class="bio" src="assets/img/White30.jpeg" alt="">
        </div> <br>
        <p>Huile d'argan bio Premium <br> 30ML - Black collection <br> 29,00€ </p> 
        <a href="{{path("home.panier", {id: product.id})}}"><button>Ajouter au panier</button></a> <br>
        <a href="{{ path('user.morew30') }}"><input class="know" type="submit" value="En savoir plus"></a>
        <div id="demo" class="modal">
            <div class="modal_content">
                <p>Produit ajouté avec succès</p>
               <a href="#" class="modal_close">&times;</a>
            </div>
        </div>
    </div>
    <div class="one">
        <div class="white">
            <img class="bio" src="assets/img/White30.jpeg" alt="">
        </div> <br>
        <p>Huile d'argan bio Premium <br> 50ML - Black collection <br> 49,00€ </p> 
        <a href="#demo"><button>Ajouter au panier</button></a> <br>
        <a href="{{ path('user.morew50') }}"><input class="know" type="submit" value="En savoir plus"></a>
        <div id="demo" class="modal">
            <div class="modal_content">
                <p>Produit ajouté avec succès</p>
               <a href="#" class="modal_close">&times;</a>
            </div>
        </div>
    </div>
    <div class="one">
        <div class="white">
            <img class="bio" src="assets/img/White100.jpeg" alt="">
        </div> <br>
        <p>Huile d'argan bio Premium <br> 100ML - Black collection <br> 89,00€ </p> 
        <a href="#demo"><button>Ajouter au panier</button></a> <br>
        <a href="{{ path('user.morew100') }}"><input class="know" type="submit" value="En savoir plus"><a/>
        <div id="demo" class="modal">
            <div class="modal_content">
                <p>Produit ajouté avec succès</p>
               <a href="#" class="modal_close">&times;</a>
            </div>
        </div>
    </div> #}
</section>












{% endblock %}